@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@theme {
  --font-sans: "Inter", sans-serif;
  --color-happy: #FF9D9D;
  --color-happy-hover: #FF8C8C;
  --color-gray: #f2f0f0;
}

:root {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp .4s ease-out forwards;
}

@keyframes softGlow {
  0% {
    transform: scale(1);
    filter: drop-shadow(0 0 0px #ff9ca6);
  }

  50% {
    transform: scale(1.05);
    filter: drop-shadow(0 0 14px #ff6b7a);
  }

  100% {
    transform: scale(1);
    filter: drop-shadow(0 0 0px #ff9ca6);
  }
}

.soft-glow {
  animation: softGlow 2.5s ease-in-out infinite;
}